.container {
  padding-top: 50px;
  margin: 0 auto;
  max-width: 1050px;
  color: #000;
}
.title {
  margin: 15px 0 5px 15px;
  letter-spacing: 4px;

  font-weight: 600;
}
.row {
  display: flex;
}
.list {
  background-color: #fff;
}
.item {
  margin: 15px 0 0 15px;
}
.subTitle {
  font-weight: 600;
}
.image {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}
